@mixin size_column_width($cols){
	width: (($column_width + $margin) * $cols) - $margin
}

@mixin size_column_height($cols){
	height: (($column_width + $margin) * $cols) - $margin
}

#grid{
	#project &{
		margin-top: 0px;
	}
}

#grid{
	.intro{
		background-color: #FFF;
		text-align: center;
		@include big-type;
		position: relative;
		.phrase{
			display: inline-block;
			color: #F30;
		}
		p{
			position: absolute;
			left: 20px;
			right: 20px;
			top: 20px;
		}
		.loading{
			color: #CCC;
		}
	}
	.logo{
		background-color: #FFF;
		text-align: center;
		@include big-type;
		position: relative;
		p{
			margin-top: 20px;
		}
	}
	.intro,
	.logo{
		z-index: 500;
	}
	.image-box{
		z-index: 2;
		position: relative;
	}
	.box{
		overflow: hidden;
// 		position: absolute;
		float: left;
		margin-right: 20px;
		margin-bottom: 20px;
		> .internal{
			position: absolute;
			left: 0px;
			top: 0px;
		}
	}
	.blank{
		background-color: #EEE;
		z-index: 1;
	}
}

.landscape-4col{
	width: 580px;
	height: 430px;
	img,
	.image,
	.blank,
	.preloader{
		width: 580px;
		height: 430px;
	}
}
.landscape-3col{
	width: 430px;
	height: 280px;
	img,
	.image,
	.blank,
	.preloader{
		width: 430px;
		height: 280px;
	}
}
.landscape-2col{
	width: 280px;
	height: 130px;
	img,
	.image,
	.blank,
	.preloader{
		width: 280px;
		height: 130px;
	}
}
.portrait-3col{
	width: 430px;
	height: 580px;
	img,
	.image,
	.blank,
	.preloader{
		width: 430px;
		height: 580px;
	}	
}
.portrait-2col{
	width: 280px;
	height: 430px;
	img,
	.image,
	.blank,
	.preloader{
		width: 280px;
		height: 430px;
	}	
}
.square-3col{
	width: 430px;
	height: 430px;
	img,
	.image,
	.blank,
	.preloader{
		width: 430px;
		height: 430px;
	}	
}
.square-2col{
	width: 280px;
	height: 280px;
	img,
	.image,
	.blank,
	.preloader{
		width: 280px;
		height: 280px;
	}	
}
.square-1col{
	width: 130px;
	height: 130px;
	img,
	.image,
	.blank,
	.preloader{
		width: 130px;
		height: 130px;
	}	
}