@mixin breakpoint($point) {
	@if $point == "bp1" {
	  @media only screen and (max-width: 1070px) { @content; }
	};
	@if $point == "bp2" {
	  @media only screen and (max-width: 920px) { @content; }
	};
	@if $point == "bp3" {
	  @media only screen and (max-width: 768px) { @content; }
	};
	@if $point == "bp4" {
	  @media only screen and (max-width: 768px) { @content; }
	};
}

#grid{
	#project &{
		margin-top: 0px;
	}
}

#grid{
	position: relative;
	left: 10px;
	.box{
		z-index: 2;
		position: relative;
	}
	.box{
		overflow: hidden;
		position: absolute;
		> .internal{
			position: absolute;
			left: 0px;
			top: 0px;
		}
		@include breakpoint("bp4"){
			position: relative;
			left: auto !important;
			top: auto !important;
			margin-bottom: 20px;
			margin-left: 10px;
		}
	}
	.blank{
		background-color: #EEE;
		z-index: 1;
	}
	.info{
		position: absolute;
		width: 280px;
		height: 130px;
		left: 460px;
		top: 300px;
		overflow: visible;
		h2{
			position: absolute;
			bottom: 0px;
			right: 0px;
			left: 0px;
			text-align: left;
// 			font: 600 21px/20px $sans;
// 			font: 700 20px/24px $big;
			font: 400 14px/17px $small;
			color: #AAA;
// 			border-bottom: 1px solid #0000FF;
		}
		.content{
			position: relative;
			top: -4px;
			font: 400 14px/17px $small;
			em{
				font-style: italic;
			}
		}
		@include breakpoint("bp3"){
			left: 160px;
			top: 0px;
		}
		@include breakpoint("bp4"){
			position: relative;
			left: auto !important;
			top: auto !important;
			margin-bottom: 20px;
			margin-left: 10px;
		}
	}
}

.landscape-4col{
	width: 580px;
	height: 430px;
	left: 10px;
	top: 900px;
	img,
	.image,
	.blank,
	.preloader{
		width: 580px;
		height: 430px;
	}
	@include breakpoint("bp2"){
		left: 10px;
		top: 1350px;
	}
	@include breakpoint("bp3"){
		left: 10px;
		top: 2250px;
		width: 430px;
		height: 318px;
		img,
		.image,
		.blank,
		.preloader{
			width: 430px;
			height: 318px;
		}
	}
	@include breakpoint("bp4"){
		width: 280px;
		height: 207px;
		img,
		.image,
		.blank,
		.preloader{
			width: 280px;
			height: 207px;
		}
	}
}
.landscape-3col{
	width: 430px;
	height: 280px;
	left: 10px;
	top: 0px;
	img,
	.image,
	.blank,
	.preloader{
		width: 430px;
		height: 280px;
	}
	@include breakpoint("bp3"){
		left: 10px;
		top: 150px;
	}
	@include breakpoint("bp4"){
		width: 280px;
		height: 182px;
		img,
		.image,
		.blank,
		.preloader{
			width: 280px;
			height: 182px;
		}
	}
}
.landscape-2col{
	width: 280px;
	height: 130px;
	img,
	.image,
	.blank,
	.preloader{
		width: 280px;
		height: 130px;
	}
}
.portrait-3col{
	width: 430px;
	height: 580px;
	left: 10px;
	top: 300px;
	img,
	.image,
	.blank,
	.preloader{
		width: 430px;
		height: 580px;
	}	
	@include breakpoint("bp3"){
		left: 10px;
		top: 450px;
	}
	@include breakpoint("bp4"){
		width: 280px;
		height: 378px;
		img,
		.image,
		.blank,
		.preloader{
			width: 280px;
			height: 378px;
		}
	}
}
.portrait-2col{
	width: 280px;
	height: 430px;
	left: 760px;
	top: 0px;
	img,
	.image,
	.blank,
	.preloader{
		width: 280px;
		height: 430px;
	}	
	@include breakpoint("bp1"){
		left: 610px;
		top: 900px;
	}
	@include breakpoint("bp2"){
		left: 460px;
		top: 450px;
	}
	@include breakpoint("bp3"){
		left: 10px;
		top: 1800px;
	}
}
.square-3col{
	width: 430px;
	height: 430px;
	left: 460px;
	top: 450px;
	img,
	.image,
	.blank,
	.preloader{
		width: 430px;
		height: 430px;
	}	
	@include breakpoint("bp2"){
		left: 10px;
		top: 900px;
	}
	@include breakpoint("bp3"){
		left: 10px;
		top: 1350px;
	}
	@include breakpoint("bp4"){
		width: 280px;
		height: 280px;
	}
	img,
	.image,
	.blank,
	.preloader{
		width: 280px;
		height: 280px;
	}	
}
.square-2col{
	width: 280px;
	height: 280px;
	top: 0px;
	left: 460px;
	img,
	.image,
	.blank,
	.preloader{
		width: 280px;
		height: 280px;
	}	
	@include breakpoint("bp3"){
		left: 10px;
		top: 1050px;
	}
}
.square-1col{
	width: 130px;
	height: 130px;
	left: 910px;
	top: 450px;
	img,
	.image,
	.blank,
	.preloader{
		width: 130px;
		height: 130px;
	}	
	@include breakpoint("bp1"){
		left: 760px;
		top: 150px;
	}
	@include breakpoint("bp2"){
		left: 460px;
		top: 1200px;
	}
	@include breakpoint("bp3"){
		left: 10px;
		top: 0px;
	}
	@include breakpoint("bp4"){
		position: relative;
	}
}