$black: #222;
$highlight: #EEE;

html{
	font: 400 13px/16px 'Helvetica', Sans-Serif;
	color: $black;
}

#intro{
	position: absolute;
	z-index: 10;
	left: 50px;
	top: 50px;
	width: 180px;
	display: none;
}

.grid-item{
	position: relative;
	float: left;
	margin-left: 20px;
	margin-top: 20px;
	.preloader{
		background-color: #EEE;
	}
	.images{
		position: relative;
		.internal{
			position: absolute;
		}
		overflow: hidden;
		img{
			display: block;
		}
	}
	.content{
		display: none;
	}
	.excerpt{
		margin-top: 10px;
		width: auto;
//		text-align: center;
		a{
			text-decoration: none;
			color: $black;
			em{
				font-style: normal;
				color: #AAA;
//				display: block;
			}
		}
	}
	&:hover{
		.images{
			background-color: $highlight;
			.internal{
				display: none;
			}
		}
		.excerpt{
			a, em{
				color: $highlight;
			}
		}
	}
}

#project{
	.content{
		width: 280px;
		margin-left: 20px;
		margin-top: 20px;
		float: left;
		blockquote{
			margin: 0px;
			padding: 0px;
			margin-bottom: 10px;
			font-style: italic;
		}
	}
	.image{
		float: left;
		position: relative;
		margin-left: 20px;
		margin-top: 20px;
	}
}