$black: #222;
$highlight: #FFF;
$column_width: 80px;
$margin: 20px;
$sans: 'Helvetica Neue', Sans-Serif;


html{
	background-color: #FFF;
	font: 400 13px/20px $sans;
	color: $black;
}

body{
	padding: 20px;
}

@mixin big-type{
	font: 600 26px/26px $sans;
}

@import "_grid";
@import "_preloader";


.hide{
	display: none;
}

.clearfix{
	clear: both;
}