$black: #222;
$highlight: #FFF;
$column_width: 130px;
$margin: 20px;


html{
	background-color: #FFF;
	font: 400 13px/20px 'Geneva', 'Helvetica', Sans-Serif;
	color: $black;
}

@import "grid.scss";

#top{
	background-color: $black;
	position: fixed;
	top: 0px;
	left: 0px;
	right: 0px;
	z-index: 200;
	height: 130px;
	color: #FFF;
	margin: 0px;
	padding: 0px;
	#project &{
		position: relative;
		height: auto;
	}
}

.clearfix{
	clear: both;
}

.content{
	blockquote{
		padding: 0px;
		margin: 0px;
		margin-bottom: 1em;
		font-style: italic;
	}
}

.isotope{
	overflow: visible !important;
}