/* line 4, ../_scss/style.scss */
html {
  font: 400 13px/16px "Helvetica", Sans-Serif;
  color: #222222;
}

/* line 9, ../_scss/style.scss */
#intro {
  position: relative;
  margin-left: 20px;
  margin-top: 20px;
  width: 280px;
  display: none;
  float: left;
}
/* line 16, ../_scss/style.scss */
.isotope #intro {
  float: none;
  clear: both;
}
/* line 20, ../_scss/style.scss */
#intro p {
  margin: 0px;
}

/* line 25, ../_scss/style.scss */
.grid-item {
  position: relative;
  float: left;
  margin-left: 20px;
  margin-top: 20px;
}
/* line 30, ../_scss/style.scss */
.isotope .grid-item {
  float: none;
  clear: both;
}
/* line 34, ../_scss/style.scss */
.grid-item .preloader {
  background-color: #EEE;
}
/* line 37, ../_scss/style.scss */
.grid-item .images {
  position: relative;
  overflow: hidden;
}
/* line 39, ../_scss/style.scss */
.grid-item .images .internal {
  position: absolute;
}
/* line 43, ../_scss/style.scss */
.grid-item .images img {
  display: block;
}
/* line 47, ../_scss/style.scss */
.grid-item .content {
  display: none;
}
/* line 50, ../_scss/style.scss */
.grid-item .excerpt {
  margin-top: 10px;
  width: auto;
}
/* line 54, ../_scss/style.scss */
.grid-item .excerpt a {
  display: inline-block;
  padding: 3px 0px;
  text-decoration: none;
  color: #222222;
}
/* line 59, ../_scss/style.scss */
.grid-item .excerpt a em {
  font-style: normal;
  color: #AAA;
}
/* line 67, ../_scss/style.scss */
.grid-item:hover .images {
  background-color: #222222;
}
/* line 69, ../_scss/style.scss */
.grid-item:hover .images .internal {
  display: none;
}
/* line 74, ../_scss/style.scss */
.grid-item:hover .excerpt a {
  background-color: #222222;
  color: #222222;
}
/* line 77, ../_scss/style.scss */
.grid-item:hover .excerpt a em {
  color: #222222;
}

/* line 86, ../_scss/style.scss */
#project .content {
  width: 280px;
  margin-left: 20px;
  margin-top: 20px;
  float: left;
}
/* line 91, ../_scss/style.scss */
#project .content blockquote {
  margin: 0px;
  padding: 0px;
  margin-bottom: 10px;
  font-style: italic;
}
/* line 98, ../_scss/style.scss */
#project .image {
  float: left;
  position: relative;
  margin-left: 20px;
  margin-top: 20px;
}

/* line 106, ../_scss/style.scss */
p.intro {
  margin-top: 20px;
  margin-bottom: 0px;
  margin-left: 20px;
  font: 500 35px/40px "Calibre";
  letter-spacing: -1px;
}

/* line 115, ../_scss/style.scss */
#grid {
  margin: 20px 0px;
}
/* line 117, ../_scss/style.scss */
#grid .cell {
  position: relative;
  margin-left: 20px;
  margin-bottom: 20px;
}
/* line 121, ../_scss/style.scss */
#grid .cell .image {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  background-size: contain;
  background-position: top center;
  background-repeat: no-repeat;
}
/* line 130, ../_scss/style.scss */
#grid .cell .image img {
  max-width: 100%;
  max-height: 100%;
  display: inline-block;
}
/* line 137, ../_scss/style.scss */
.isotope #grid .cell {
  float: none;
}
