/* line 9, ../_scss/style.scss */
html {
  background-color: #FFF;
  font: 400 13px/20px "Helvetica Neue", Sans-Serif;
  color: #222222;
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
}

/* line 20, ../_scss/style.scss */
body {
  padding: 0px;
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
}

/* line 29, ../_scss/style.scss */
html, body {
  overflow-x: hidden;
}

/* line 20, ../_scss/_grid.scss */
#project #grid {
  margin-top: 0px;
}

/* line 25, ../_scss/_grid.scss */
#grid {
  position: relative;
  left: 10px;
}
@media only screen and (min-width: 1370px) {
  /* line 25, ../_scss/_grid.scss */
  #grid {
    height: 900px;
  }
}
@media only screen and (max-width: 1070px) {
  /* line 25, ../_scss/_grid.scss */
  #grid {
    height: 1350px;
  }
}
@media only screen and (max-width: 920px) {
  /* line 25, ../_scss/_grid.scss */
  #grid {
    height: 1800px;
  }
}
@media only screen and (max-width: 768px) {
  /* line 25, ../_scss/_grid.scss */
  #grid {
    height: 2178px;
  }
}
/* line 40, ../_scss/_grid.scss */
#grid .box {
  z-index: 2;
  position: relative;
}
/* line 44, ../_scss/_grid.scss */
#grid .box {
  overflow: hidden;
  position: absolute;
}
/* line 47, ../_scss/_grid.scss */
#grid .box > .internal {
  position: absolute;
  left: 0px;
  top: 0px;
}
@media only screen and (max-width: 767px) {
  /* line 44, ../_scss/_grid.scss */
  #grid .box {
    position: relative;
    left: auto !important;
    top: auto !important;
    margin-bottom: 20px;
    margin-left: 10px;
  }
}
/* line 60, ../_scss/_grid.scss */
#grid .blank {
  background-color: #EEE;
  z-index: 1;
}
/* line 64, ../_scss/_grid.scss */
#grid .info {
  position: absolute;
  width: 280px;
  height: 130px;
  left: 460px;
  top: 300px;
  overflow: visible;
}
/* line 71, ../_scss/_grid.scss */
#grid .info h2 {
  position: absolute;
  bottom: 0px;
  right: 0px;
  left: 0px;
  text-align: left;
  font: 400 14px/17px "Helvetica Neue", Sans-Serif;
  color: #AAA;
}
/* line 82, ../_scss/_grid.scss */
#grid .info h2 a {
  text-decoration: none;
  color: #AAA;
}
/* line 85, ../_scss/_grid.scss */
#grid .info h2 a:hover {
  text-decoration: underline;
}
/* line 90, ../_scss/_grid.scss */
#grid .info .content {
  position: relative;
  top: -2px;
  left: 0px;
  margin-right: 20px;
  font: 400 14px/17px "Helvetica Neue", Sans-Serif;
}
/* line 96, ../_scss/_grid.scss */
#grid .info .content em {
  font-style: italic;
}
/* line 99, ../_scss/_grid.scss */
#grid .info .content a {
  color: #222222;
  text-decoration: underline;
}
@media only screen and (max-width: 768px) {
  /* line 64, ../_scss/_grid.scss */
  #grid .info {
    left: 160px;
    top: 0px;
  }
}
@media only screen and (max-width: 767px) {
  /* line 64, ../_scss/_grid.scss */
  #grid .info {
    position: relative;
    left: auto !important;
    top: auto !important;
    margin-bottom: 20px;
    margin-left: 10px;
  }
}

/* line 118, ../_scss/_grid.scss */
.landscape-4col {
  width: 580px;
  height: 430px;
  left: 10px;
  top: 900px;
}
/* line 126, ../_scss/_grid.scss */
.landscape-4col img,
.landscape-4col .image,
.landscape-4col .blank,
.landscape-4col .preloader {
  width: 580px;
  height: 430px;
}
@media only screen and (max-width: 920px) {
  /* line 118, ../_scss/_grid.scss */
  .landscape-4col {
    left: 10px;
    top: 1350px;
  }
}
@media only screen and (max-width: 768px) {
  /* line 118, ../_scss/_grid.scss */
  .landscape-4col {
    left: 10px;
    top: 2250px;
    width: 430px;
    height: 318px;
  }
  /* line 142, ../_scss/_grid.scss */
  .landscape-4col img,
  .landscape-4col .image,
  .landscape-4col .blank,
  .landscape-4col .preloader {
    width: 430px;
    height: 318px;
  }
}
@media only screen and (max-width: 767px) {
  /* line 118, ../_scss/_grid.scss */
  .landscape-4col {
    width: 280px;
    height: 207px;
  }
  /* line 153, ../_scss/_grid.scss */
  .landscape-4col img,
  .landscape-4col .image,
  .landscape-4col .blank,
  .landscape-4col .preloader {
    width: 280px;
    height: 207px;
  }
}
@media only screen and (min-width: 1370px) {
  /* line 118, ../_scss/_grid.scss */
  .landscape-4col {
    left: 760px;
    top: 0px;
  }
}

/* line 163, ../_scss/_grid.scss */
.landscape-3col {
  width: 430px;
  height: 280px;
  left: 10px;
  top: 0px;
}
/* line 171, ../_scss/_grid.scss */
.landscape-3col img,
.landscape-3col .image,
.landscape-3col .blank,
.landscape-3col .preloader {
  width: 430px;
  height: 280px;
}
@media only screen and (max-width: 768px) {
  /* line 163, ../_scss/_grid.scss */
  .landscape-3col {
    left: 10px;
    top: 150px;
  }
}
@media only screen and (max-width: 767px) {
  /* line 163, ../_scss/_grid.scss */
  .landscape-3col {
    width: 280px;
    height: 182px;
  }
  /* line 185, ../_scss/_grid.scss */
  .landscape-3col img,
  .landscape-3col .image,
  .landscape-3col .blank,
  .landscape-3col .preloader {
    width: 280px;
    height: 182px;
  }
}

/* line 191, ../_scss/_grid.scss */
.landscape-2col {
  width: 280px;
  height: 130px;
}
/* line 197, ../_scss/_grid.scss */
.landscape-2col img,
.landscape-2col .image,
.landscape-2col .blank,
.landscape-2col .preloader {
  width: 280px;
  height: 130px;
}

/* line 202, ../_scss/_grid.scss */
.portrait-3col {
  width: 430px;
  height: 580px;
  left: 10px;
  top: 300px;
}
/* line 210, ../_scss/_grid.scss */
.portrait-3col img,
.portrait-3col .image,
.portrait-3col .blank,
.portrait-3col .preloader {
  width: 430px;
  height: 580px;
}
@media only screen and (max-width: 768px) {
  /* line 202, ../_scss/_grid.scss */
  .portrait-3col {
    left: 10px;
    top: 450px;
  }
}
@media only screen and (max-width: 767px) {
  /* line 202, ../_scss/_grid.scss */
  .portrait-3col {
    width: 280px;
    height: 378px;
  }
  /* line 224, ../_scss/_grid.scss */
  .portrait-3col img,
  .portrait-3col .image,
  .portrait-3col .blank,
  .portrait-3col .preloader {
    width: 280px;
    height: 378px;
  }
}

/* line 230, ../_scss/_grid.scss */
.portrait-2col {
  width: 280px;
  height: 430px;
  left: 760px;
  top: 0px;
}
/* line 238, ../_scss/_grid.scss */
.portrait-2col img,
.portrait-2col .image,
.portrait-2col .blank,
.portrait-2col .preloader {
  width: 280px;
  height: 430px;
}
@media only screen and (max-width: 1070px) {
  /* line 230, ../_scss/_grid.scss */
  .portrait-2col {
    left: 610px;
    top: 900px;
  }
}
@media only screen and (max-width: 920px) {
  /* line 230, ../_scss/_grid.scss */
  .portrait-2col {
    left: 460px;
    top: 450px;
  }
}
@media only screen and (max-width: 768px) {
  /* line 230, ../_scss/_grid.scss */
  .portrait-2col {
    left: 10px;
    top: 1800px;
  }
}
@media only screen and (min-width: 1370px) {
  /* line 230, ../_scss/_grid.scss */
  .portrait-2col {
    left: 910px;
    top: 450px;
  }
}

/* line 259, ../_scss/_grid.scss */
.square-3col {
  width: 430px;
  height: 430px;
  left: 460px;
  top: 450px;
}
/* line 267, ../_scss/_grid.scss */
.square-3col img,
.square-3col .image,
.square-3col .blank,
.square-3col .preloader {
  width: 430px;
  height: 430px;
}
@media only screen and (max-width: 920px) {
  /* line 259, ../_scss/_grid.scss */
  .square-3col {
    left: 10px;
    top: 900px;
  }
}
@media only screen and (max-width: 768px) {
  /* line 259, ../_scss/_grid.scss */
  .square-3col {
    left: 10px;
    top: 1350px;
  }
}
@media only screen and (max-width: 767px) {
  /* line 259, ../_scss/_grid.scss */
  .square-3col {
    width: 280px;
    height: 280px;
  }
  /* line 285, ../_scss/_grid.scss */
  .square-3col img,
  .square-3col .image,
  .square-3col .blank,
  .square-3col .preloader {
    width: 280px;
    height: 280px;
  }
}

/* line 291, ../_scss/_grid.scss */
.square-2col {
  width: 280px;
  height: 280px;
  top: 0px;
  left: 460px;
}
/* line 299, ../_scss/_grid.scss */
.square-2col img,
.square-2col .image,
.square-2col .blank,
.square-2col .preloader {
  width: 280px;
  height: 280px;
}
@media only screen and (max-width: 768px) {
  /* line 291, ../_scss/_grid.scss */
  .square-2col {
    left: 10px;
    top: 1050px;
  }
}

/* line 308, ../_scss/_grid.scss */
.square-1col {
  width: 130px;
  height: 130px;
  left: 910px;
  top: 450px;
}
/* line 316, ../_scss/_grid.scss */
.square-1col img,
.square-1col .image,
.square-1col .blank,
.square-1col .preloader {
  width: 130px;
  height: 130px;
}
@media only screen and (max-width: 1070px) {
  /* line 308, ../_scss/_grid.scss */
  .square-1col {
    left: 760px;
    top: 150px;
  }
}
@media only screen and (max-width: 920px) {
  /* line 308, ../_scss/_grid.scss */
  .square-1col {
    left: 460px;
    top: 1200px;
  }
}
@media only screen and (max-width: 768px) {
  /* line 308, ../_scss/_grid.scss */
  .square-1col {
    left: 10px;
    top: 0px;
  }
}
@media only screen and (max-width: 767px) {
  /* line 308, ../_scss/_grid.scss */
  .square-1col {
    position: relative;
  }
}
@media only screen and (min-width: 1370px) {
  /* line 308, ../_scss/_grid.scss */
  .square-1col {
    left: 1210px;
    top: 450px;
  }
}

/* line 1, ../_scss/_preloader.scss */
#site-preloader {
  position: fixed;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 444;
}
/* line 8, ../_scss/_preloader.scss */
#site-preloader .message {
  position: absolute;
  left: 20px;
  top: 20px;
  color: #666;
  font: 400 14px/17px "Helvetica Neue", Sans-Serif;
}

/* line 17, ../_scss/_preloader.scss */
.preloader {
  position: relative;
}
/* line 19, ../_scss/_preloader.scss */
.preloader .lines {
  position: absolute;
  left: -300px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  background: #191919 url("/assets/img/preloader-bg.png") repeat 0px 0px;
  background-attachment: fixed;
}

/* line 30, ../_scss/_preloader.scss */
.preloader.animating .lines {
  -moz-animation: slide 1s infinite linear;
  -o-animation: slide 1s infinite linear;
  -webkit-animation: slide 1s infinite linear;
  animation: slide 1s infinite linear;
}

@-moz-keyframes slide {
  /* line 38, ../_scss/_preloader.scss */
  0% {
    background-position: 0px 0px;
  }

  /* line 42, ../_scss/_preloader.scss */
  100% {
    background-position: 300px 0px;
  }
}

@-webkit-keyframes slide {
  /* line 38, ../_scss/_preloader.scss */
  0% {
    background-position: 0px 0px;
  }

  /* line 42, ../_scss/_preloader.scss */
  100% {
    background-position: 300px 0px;
  }
}

@-o-keyframes slide {
  /* line 38, ../_scss/_preloader.scss */
  0% {
    background-position: 0px 0px;
  }

  /* line 42, ../_scss/_preloader.scss */
  100% {
    background-position: 300px 0px;
  }
}

@-ms-keyframes slide {
  /* line 38, ../_scss/_preloader.scss */
  0% {
    background-position: 0px 0px;
  }

  /* line 42, ../_scss/_preloader.scss */
  100% {
    background-position: 300px 0px;
  }
}

@keyframes slide {
  /* line 38, ../_scss/_preloader.scss */
  0% {
    background-position: 0px 0px;
  }

  /* line 42, ../_scss/_preloader.scss */
  100% {
    background-position: 300px 0px;
  }
}

/* line 1, ../_scss/_header.scss */
#header {
  position: relative;
  font: 400 14px/17px "Helvetica Neue", Sans-Serif;
  margin: 20px;
}
/* line 7, ../_scss/_header.scss */
#header .logo u {
  border-bottom: 1px solid #DDD;
  text-decoration: none;
}
/* line 16, ../_scss/_header.scss */
#header .intro .phrase {
  font-weight: bold;
}
/* line 20, ../_scss/_header.scss */
#header .intro.loading .phrase {
  color: #DDD;
}
/* line 23, ../_scss/_header.scss */
#header .intro.loading .a {
  display: none;
}
/* line 28, ../_scss/_header.scss */
#header ul {
  position: absolute;
  left: 750px;
  top: 0px;
}
/* line 32, ../_scss/_header.scss */
#header ul a {
  color: #BBB;
  text-decoration: none;
}
/* line 35, ../_scss/_header.scss */
#header ul a:hover {
  text-decoration: underline;
}
@media only screen and (max-width: 920px) {
  /* line 28, ../_scss/_header.scss */
  #header ul {
    left: 450px;
  }
}
@media only screen and (max-width: 768px) {
  /* line 28, ../_scss/_header.scss */
  #header ul {
    position: relative;
    left: auto;
    top: auto;
    margin-top: 20px;
  }
}

/* line 42, ../_scss/style.scss */
.hide {
  display: none;
}

/* line 46, ../_scss/style.scss */
.clearfix {
  clear: both;
}
